<button mat-icon-button [class.labeling]="label!=undefined" 
class="icon-button" [ngClass]="['epos']" 
[disabled]="disabled">
  <div class="icon-wrapper">
      <mat-icon [svgIcon]="svgIcon" [color]="svgColor || undefined" [ngClass]="[svgIcon.replace(':','-')]"></mat-icon>
  </div>
  <div class="label">{{label}}</div>
</button>