@import '../../../../assets/manulife-epos-theme/scss/_variables';

// *************************************
// _common
// *************************************
@mixin navbar-item-hide($tranlateX) {
    pointer-events: none;
    opacity: 0;
    transform: translateX($tranlateX);
    transition-property: all;
    @include transition;
}
@mixin navbar-item-show() {
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0);
    transition-property: all;
    @include transition;
    transition-delay: $anim-time;
}
$statusbar-height: 20px;
$navbar-height: 60px;
$header-height: calc( #{$statusbar-height} + #{$navbar-height});
$margin: 30px;

// *************************************
// COMMON
// *************************************
.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    justify-content: space-between;
    padding: calc(#{$header-height} + 10px) 0 0 0;
    overflow: hidden;
    &.padding {
        padding: calc(#{$header-height} + #{$margin}) $margin $margin $margin;
    }
}
