<div class="navbar questions">
  <section class="navbar__left menu">
    <ul>
      <li class="burger-menu icon-only">
        <epos-icon-button svgIcon="epos:menu" (tap)="burgermenuClick()"></epos-icon-button>
      </li>
    </ul>
  </section>

  <section class="navbar__left logo">
    <ul>
      <li class="navbar__logo">
        <img src="./assets/images/Logo.svg"/>
      </li>
    </ul>
  </section>

  <section *ngFor="let navitem of ['questions']" class="navbar__right" [ngClass]="[navitem]">
    <ul>
      <li *ngFor="let item of getNavItems(navitem)">
        <epos-icon-button class="flex-column"
        [ngClass]="['button-'+item.id]" 
        [svgIcon]="item.svgIcon" [label]="item.id"
        (tap)="navitemClick($event,item)"></epos-icon-button>
      </li>
    </ul>
  </section>

</div>