@import '../../../scss/_common';


// *************************************
// Page Styles
// *************************************
.navbar {
  width: 100vw;
  height: $header-height;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 100;

  epos-icon-button {
    opacity: 1;
    transition-property: opacity;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
  &__left, &__middle, &__right {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: $navbar-height;
    top: $statusbar-height;
    box-sizing: border-box;
    ul {
      display: flex;
      flex-direction: row;
      height: 100%;
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: auto;
        margin-right: 10px;
        &.icon-only {
          padding-top: 0;
        }
        &:last-child {
          margin-right: 0;
          min-width: 0;
        } 
        &.navbar__logo {
          padding-top: 0;
          margin-left: 0;
        }
      }
    }
  }

  &__left {
    left: 0;
    margin-left: $margin;
  }
  &__right {
      right: 0;
      margin-right: $margin;
  }
  &.questions {
    background-color: white;
    .navbar__left {
      @include navbar-item-hide(-$anim-tranlateX);
      &.menu {
        @include navbar-item-show;
        margin-left: $margin;
      }
      &.logo {
        @include navbar-item-show;
        margin-left: 95px;
      }
    }
    .navbar__right {
      @include navbar-item-hide($anim-tranlateX);
      &.questions {
        @include navbar-item-show;
      }
    }
  }
}