@import './scss/_reset',
        './scss/_fonts',
        './scss/_variables',
        './scss/scrollbar';

.flex-column {
  @include flex-column;
  justify-content: flex-start;
}
.flex-row {
  @include flex-row;
  justify-content: flex-start;
}
.flex-center {
  @include flex-center;
}

// *************************************
// NG-MATERIAL
// *************************************
@import '~@angular/material/theming';
@include mat-core();
$palette-grey: (
  100: $color-pale-blue-grey,
  500: $color-dark-grey,
  700: $color-light-navy,
  contrast: (
    100: $color-pale-blue-grey,
    500: $color-pale-blue-grey,
    700: $color-pale-blue-grey,
  )
);
$palette-emerald: (
  100: $color-light-green,
  500: $color-emerald,
  700: $color-dark-green,
  contrast: (
    100: $color-light-green,
    500: $color-light-green,
    700: $color-light-green,
  )
);
$palette-peach: (
  100: $color-dark-peach,
  500: $color-light-red,
  700: $color-red,
  contrast: (
    100: $color-dark-peach,
    500: $color-dark-peach,
    700: $color-dark-peach,
  )
);
$custom-primary: mat-palette($palette-emerald);
$custom-accent: mat-palette($palette-grey);
$custom-warn: mat-palette($palette-peach);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);

@import './scss/typography',
        './scss/accordion',
        './scss/radio',
        './scss/iconbutton',
        './scss/snackbar',
        './scss/tooltip',
        './scss/table',
        './scss/button',
        './scss/dialog',
        './scss/sidenav',
        './scss/slidetoggle',
        './scss/input',
        './scss/checkbox';

.epos {
  .background-color-light-grey {
    background-color: $color-light-grey;
  }
}

.cdk-overlay-backdrop {
  &.cdk-overlay-transparent-backdrop {
    opacity: 0;
  }
  &.cdk-overlay-dark-backdrop {
    background-color: $color-dark-navy;
    &.cdk-overlay-backdrop-showing {
      opacity: .8;
    }
  }
}