@import '../../../scss/_common';

$margin-right: 112px;

.page {
    justify-content: flex-start;
    .h1, h1 {
        font-size: 20px;
        line-height: 1.33;
        padding-left: calc(#{$margin-right} - #{$margin});
        margin: $margin $margin 20px $margin;
    }
    .questions-stepper {
        position: relative;
        margin: 0 $margin-right;
        * {
            pointer-events: none;
        }
        &__min, &__max {
            position: absolute;
            top: 0;
        }
        &__min {
            left: 0;
        } 
        &__max {
            right: 0;
        }
    }
    .questions-container {
        flex-grow: 2;
        margin-top: 20px;
        .question-box {
            margin: 0 $margin-right 26px $margin-right;
            padding: $margin;
            background-color: white;
            border: 2px solid transparent;
            transition-property: border;
            @include transition;
            &.active {
                border: 2px solid #00BF66;
                transition-property: border;
                @include transition;
            }
            .mat-radio-group {
                justify-content: space-between;
                .mat-radio-button {
                    flex-grow: 2;
                    border: 1px solid #DBE2EC;
                    margin-top: 20px;
                    position: relative;
                    &.mat-radio-checked {
                        border: 1px solid transparent;
                        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }
            .quest-image {
                margin-top: 26px;
            }
        }
        .result-button {
            margin: 30px $margin-right 60px $margin-right;
        }
    }
}