<div class="page background-color-light-grey flex-column">
  <h1>
      <b>Risk Profiling</b> <br>
      <span class="italic">Questionnaire</span>
  </h1>
  <div class="questions-stepper font-light">
    <mat-slider
      [min]="0"
      [max]="questionsService.questions.length"
      [step]="1"
      [(ngModel)]="answered">
    </mat-slider>
    <div class="h5 questions-stepper__min">0</div>
    <div class="h5 questions-stepper__max">{{questionsService.questions.length}}</div>
  </div>

  <div #scrollcontent class="questions-container flex-column scroll-y">
    <div #questionbox class="question-box" 
    *ngFor="let quest of questionsService.questions; let idx=index"
    [class.active]="currentQuestion==idx"
    [ngClass]="[(quest.cssClass)?quest.cssClass:'']" >
      <h3>{{quest.message}}</h3>
      <ng-container *ngIf="quest.image">
        <img class="quest-image" [src]="quest.image"/>
      </ng-container>
      <mat-radio-group [class.list]="quest.optionsalign=='list'">
        <mat-radio-button 
        *ngFor="let option of quest.options"
        disableRipple="true"
        [value]="option"
        [checked]="quest.answer==option"
        (tap)="quest_change(idx, quest, option)">{{option}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="result-button">
      <button mat-raised-button color="primary" [disabled]="checkValid()">Get Result</button>
    </div>
  </div>
</div>