/* You can add global styles to this file, and also import other style files */

// *************************************
// PAGES
// *************************************
html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button, input:focus, textarea:focus {
    outline: none !important;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

// ANGULAR MATERIAL RESKIN
.questions-stepper {
    .mat-slider {
        width: 100%;
    }
    .mat-slider-horizontal {
        .mat-slider-wrapper, 
        .mat-slider-track-wrapper, 
        .mat-slider-track-background,
        .mat-slider-track-fill {
            height: 6px!important;
        }
        .mat-slider-track-wrapper {
            width: calc(100% + 14px);
            left: -8px;
        }
    }
    .mat-slider-track-background {
        background-color: #DBE2EC!important;
    }
    .mat-slider-track-fill, .mat-slider-thumb {
        background-color: #006FF1!important;
    }
}

.mat-radio-label {
    display: flex!important;
    padding: 26px 22px!important;
}

.investment-expectation {
    .mat-radio-group {
        margin-left: 136px;
        justify-content: flex-start!important;
    }
    .mat-radio-button {
        flex-grow: unset!important;
        width: 114px!important;
        text-align: center;
        border: 1px solid transparent!important;
        margin-left: 24px;
    }
    .mat-radio-label {
        flex-direction: column;
        padding: 22px 6px!important;
    }
    .mat-radio-label-content {
        margin-top: 6px;
    }
    .mat-radio-outer-circle {
        margin-right: 0px!important;
    }
}