// *************************************
//
// FONTS
//
// *************************************
$font-path: "./fonts";
@font-face {
    font-family: 'Roboto-Light';
    src: url($font-path + "/Roboto-Light.ttf") format("truetype");
    src: url($font-path + "/Roboto-Light.woff") format("woff");
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url($font-path + "/Roboto-Medium.ttf") format("truetype");
    src: url($font-path + "/Roboto-Medium.woff") format("woff");
}
@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url($font-path + "/PlayfairDisplay-Italic.ttf") format("truetype");
    src: url($font-path + "/PlayfairDisplay-Italic.woff") format("woff");
}
