// *************************************
//
// VARIABLES
//
// *************************************

// *************************************
// FONTS
// *************************************
$font-book: 'Roboto-Light';
$font-sbold: 'Roboto-Medium';
$font-playfair-italic: "PlayfairDisplay-Italic";


// *************************************
// COLOR
// *************************************
$color-dark-navy: #282B3E;
$color-navy: #34384B;
$color-light-navy: #424559;
$color-dark-grey: #737487;
$color-dark-green: #026937;
$color-emerald: #00AA59;
$color-light-green: #00BF66;
$color-white: #ffffff;
$color-light-grey: #FAFAFA;
$color-pale-grey: #F5F5F5;
$color-pale-blue-grey: #DBE2EC;
$color-red: #F8453C;
$color-light-red: #FF5D55;
$color-dark-peach: #FF746D;
$color-blue: #006FF1;
$color-turquoise: #5ACFD6;


// *************************************
// SIZE
// *************************************
$margin: 30px;


// *************************************
// ANIMATIONS
// *************************************
$anim-time: .38s;
$anim-time-long: .58s;
$anim-tranlateX: 200px;
$anim-function: cubic-bezier(.4,0,.2,1);

@mixin transition() {
  transition-duration: $anim-time;
  transition-timing-function: $anim-function;
}
@mixin transition-long() {
  transition-duration: $anim-time-long;
  transition-timing-function: $anim-function;
}

// *************************************
// VARIABLES
// *************************************

@mixin content() {
  font-family: $font-book;
  font-size: 16px;
  line-height: 1.5;
}
@mixin font-icon-button() {
  font-family: $font-book;
  font-size: 10px;
  line-height: 1.2;
}
@mixin font-bubble-button() {
  font-family: $font-sbold;
  font-size: 10px;
  line-height: 1.2;
}
@mixin flex-column() {
  display: flex;
  flex-direction: column;
}
@mixin flex-row() {
  display: flex;
  flex-direction: row;
}
@mixin flex-center() {
  align-items: center;
  justify-content: center;
}
@mixin bold() {
  font-family: $font-sbold;
}
@mixin italic() {
  font-family: $font-playfair-italic;
}

// *************************************
// KEYFRAMES
// *************************************
