// *************************************
//
// ACCORDION
//
// *************************************
@import './_variables';
.epos {
    .mat-expansion-panel-header, .mat-expansion-panel-content {
      @include content;
    }
    .mat-accordion {
      .mat-expansion-panel {
        box-shadow: none!important;
        background: none;
        color: inherit;
        border-bottom: 1px solid $color-navy;
        &:first-child {
          border-top: 1px solid $color-navy;
        }
        .mat-expansion-panel-header {
          padding: 0 $margin 0 82px;
          height: auto!important;
          position: relative;
          &:before {
            mask: url(./images/plus.svg) no-repeat 50% 50%;
            mask-size: cover;
            content: '';
            width: 14px;
            height: 14px;
            display: block;
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color-light-navy;
          }
          .mat-content {
            padding: 20px 0;
          }
          .mat-expansion-indicator {
            display: none;
          }
        }
        .mat-expansion-panel-header-title {
          color: inherit;
        }
        .mat-expansion-panel-spacing {
          margin: 0;
        }
        .mat-expansion-panel-body{
          padding: 0 24px 16px 82px;
        }
      }
      &.dark {
        .mat-expansion-panel-header {
          &:before {
            background-color: $color-dark-peach;
          }
        }
      }
    }
}