// *************************************
//
// Button
//
// *************************************
@import './_variables';
.epos {
    .mat-raised-button {
      font-family: $font-sbold;
      font-size: 16px;
      line-height: 1.25;
      padding: 10px 36px;
      min-height: 50px;
      border-radius: 0;
      background-color: $color-white;
      color: $color-navy;
      box-shadow: none!important;
      &.mat-primary{
        background-color: $color-emerald;
        color: $color-white;
      }
      &.mat-accent {
        background-color: $color-light-navy;
        color: $color-white;
      }
      &.mat-warn {
        background-color: $color-light-red;
        color: $color-white;
      }
      &[disabled]{
        background-color: $color-dark-grey;
        color: $color-white;
        pointer-events: none;
      }
      .mat-button-ripple, .mat-button-focus-overlay {
        display: none;
      }
    }
    .mat-button {
      font-family: $font-sbold;
      font-size: 12px;
      line-height: 1.25;
      padding: 10px 36px;
      min-height: 50px;
      .mat-button-ripple, .mat-button-focus-overlay {
        display: none;
      }
    }
}