// *************************************
//
// CHECKBOX
//
// *************************************
@import './_variables';
.epos {
    .mat-checkbox {
      font-family: $font-book;
      display: inline-flex;
      flex-direction: row;
      vertical-align: top;
      * {
        pointer-events: none;
      }
      &.bold {
        font-family: $font-sbold;
      }
      .mat-checkbox-layout {
        pointer-events: inherit;
      }
      .mat-checkbox-inner-container {
        width: 20px;
        height: 20px;
        border: 1px solid $color-dark-grey;
        border-radius: 0!important;
        margin-right: 10px;
      }
      .mat-checkbox-frame, .mat-checkbox-background {
        border: none!important;
        border-radius: 0;
      }
      .mat-checkbox-background {
        overflow: hidden;
        svg {
          transform: translateY(-50%);
          transition-property: transform;
          @include transition;
        }
      }
      .mat-checkbox-checkmark {
        fill: $color-white;
      }
      .mat-checkbox-checkmark-path {
        stroke: $color-white!important;
      }
      .mat-checkbox-mixedmark {
        background-color: $color-white;
      }
      .mat-checkbox-label {
        font-family: inherit;
        font-size: 16px;
      }
      &:not(.mat-checkbox-disabled) {
        &.mat-primary, &.mat-accent, &.mat-warn {
          .mat-checkbox-ripple .mat-ripple-element {
            background-color: transparent;
          }
        }
      }
      &.dark {
        .mat-checkbox-inner-container {
          border: 1px solid $color-pale-blue-grey;
        }
      }
      &.list {
        margin: 0;
        padding: 20px;
        width: 100%;
        box-sizing : border-box;
        .mat-checkbox-inner-container {
          margin-right: 20px;
        }
      }
      &.mat-checkbox-checked {
        .mat-checkbox-inner-container {
          border: 1px solid $color-emerald;
        }
        &.mat-primary, &.mat-accent {
          .mat-checkbox-background {
            background-color: $color-emerald;
            svg {
              transform: translateY(0);
              transition-property: transform;
              @include transition;
            }
          }
        }
      }
    }
}