// *************************************
//
// Dialog
//
// *************************************
@import './_variables';
.epos {
    .mat-dialog-container {
      padding: 0;
      box-shadow: none;
      background: none;
    }
}