// *************************************
//
// Divider
//
// *************************************
@import './_variables';
.epos {
    .mat-divider {
        border-top-width: 1px; 
        border-top-color: $color-pale-grey;
    }
}