// *************************************
//
// icon-button
//
// *************************************
@import './_variables';
.epos {
    &.mat-icon-button {
      width: auto;
      height: auto;
      background-color: transparent;
      color: inherit;
      border-radius: 0;
      .mat-icon {
        max-width: 18px;
        max-height: 22px;
      }
      .mat-ripple, .mat-button-ripple, .mat-button-ripple-round, .mat-ripple-element {
        display: none;
      }
      .icon-wrapper {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      &.labeling {
        height: auto;
        .mat-button-wrapper {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          @include font-icon-button;
          text-align: center;
          text-transform: capitalize;
          min-height: 40px;
          .icon-wrapper {
            height: 28px;
          }
          .label {
            flex-grow: 2;
            line-height: 1;
          }
          .mat-icon {
            max-width: 22px;
            max-height: 22px;
            margin-bottom: 5px;
            &.epos-search {
              max-width: 17px;
              max-height: 17px;
            }
            &.epos-compare {
              max-width: 15px;
              max-height: 20px;
            }
            &.epos-tools {
              max-width: 18px;
              max-height: 23px;
            }
            &.epos-setting {
              max-width: 19px;
              max-height: 20px;
            }
            &.epos-customer {
              max-width: 20px;
              max-height: 20px;
            }
            &.epos-export {
              max-width: 24px;
              max-height: 24px;
            }
            &.epos-close {
              max-width: 17px;
              max-height: 16px;
            }
          }
        }
      }
      .mat-button-focus-overlay {
        background-color: transparent;
      }
    }
}