// *************************************
//
// INPUT
//
// *************************************
@import './_variables';
.epos {
  .mat-form-field-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
  }
  .mat-input-element, .mat-input-element:disabled {
    font: unset;
    font-family: $font-book;
    font-size: 30px;
    color: $color-light-navy;
  }
  .mat-form-field-underline {
    height: 1px;
    background-color: $color-dark-grey;
    position: relative;
    bottom: unset;
    .mat-input-ripple, .mat-form-field-ripple {
      display: none;
    }
  }
  .mat-form-field-subscript-wrapper {
    position: relative;
  }
  .mat-error {
    font-family: $font-book;
    font-size: 16px;
    line-height: 1.5;
    color: $color-red;
    .mat-icon {
      float: left;
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }
  }
  .mat-form-field{
    &.epos-input-alwaysfocused {
      pointer-events: none;
      .mat-form-field-underline {
        height: 2px;
        background-color: $color-emerald;
      }
    }
    // &.mat-input-invalid, &.mat-form-field-invalid {
    //   .mat-form-field-underline {
    //     background-color: transparent;
    //     // &::before {
    //     //   background-color: transparent;
    //     // }
    //   }
    // }
  } 
}