// *************************************
//
// RADIO
//
// *************************************
@import './_variables';
.epos {
    .mat-radio-group {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .mat-radio-button {
        &.mat-primary, &.mat-accent, &.mat-warn {
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
          .mat-radio-container, .mat-radio-outer-circle, .mat-radio-inner-circle {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
          .mat-radio-outer-circle {
            border: 1px solid $color-dark-grey;
          }
          .mat-radio-label-content {
            font-family: $font-book;
            font-size: 16px;
            padding-left: 0;
          }
          .mat-radio-ripple {
            display: none;
          }
          .mat-radio-inner-circle {
            background-color: $color-emerald;
          }
          .mat-radio-label-content {
            color: inherit;
          }
          &.mat-radio-checked {
            .mat-radio-outer-circle {
              border-color: $color-dark-grey;
            }
            .mat-radio-inner-circle {
              transform: scale(calc(6/14));
            }
            .mat-radio-label-content {
              font-family: $font-sbold;
            }
          }
        }
      }
      &.dark {
        .mat-radio-button {
          &.mat-primary, &.mat-accent, &.mat-warn {
            .mat-radio-outer-circle {
              border: 1px solid $color-pale-blue-grey;
            }
            &.mat-radio-checked {
              .mat-radio-outer-circle {
                border-color: $color-pale-blue-grey;
              }
            }
          }
        }
      }
      &.list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        .mat-radio-button {
          &.mat-primary, &.mat-accent, &.mat-warn {
            margin: 0;
            padding: 0px;
            width: 100%;
            box-sizing : border-box;
            .mat-radio-label {
              width: 100%;
              padding: 20px;
            }
            .mat-radio-container, .mat-radio-outer-circle, .mat-radio-inner-circle {
              margin-right: 20px;
            }
          }
        }
        &.dark {
          &.mat-radio-checked {
            background-color: $color-dark-navy;
          }
        }
      }
    }
}