// *************************************
//
// RADIO
//
// *************************************
@import './_variables';

@mixin scrollbar($x, $y) {
  @if $x == true {
    overflow-x: scroll;
  }
  @else {
    overflow-x: hidden;
  }
  @if $y == true {
    overflow-y: scroll;
  }
  @else {
    overflow-y: hidden;
  }
  &::-webkit-scrollbar-track
  {
      border-radius: 10px;
  }
  &::-webkit-scrollbar
  {
      width: 3px;
      height: 3px;
  }
  &::-webkit-scrollbar-thumb
  {
      border-radius: 3px;
      background-color: $color-pale-blue-grey;
      opacity: .7;
  }
}

.epos {
    .scroll-all {
        @include scrollbar(true, true);
    }
    .scroll-x {
        @include scrollbar(true, false);
    }
    .scroll-y {
        @include scrollbar(false, true);
    }
}