// *************************************
//
// Sidenav
//
// *************************************
@import './_variables';
.epos {
  .mat-sidenav, .mat-drawer {
    pointer-events: auto;
    height: 100vh;
    background-color: $color-light-navy!important;
    color: $color-white;
    box-shadow: none!important;
  }
  .mat-drawer-container, .mat-sidenav-container {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    pointer-events: none;
    .mat-drawer-backdrop {
      pointer-events: auto;
      background-color: transparent;
    }
  }
}
