// *************************************
//
// Slide Toggle
//
// *************************************
@import './_variables';
.epos {
  $toggle-bar-width: 34px;
  $toggle-bar-height: 20px;
  $toggle-content-margin: 8px;
  .mat-slide-toggle, .mat-slide-toggle.mat-checked {
    position: relative;
    .mat-slide-toggle-bar {
      width: $toggle-bar-width;
      height: $toggle-bar-height;
      border-radius: calc(#{$toggle-bar-height} / 2);
      background-color: $color-dark-grey!important;
      margin-right: $toggle-content-margin;
    }
    .mat-slide-toggle-thumb-container, .mat-slide-toggle-thumb {
      width: $toggle-bar-height;
      height: $toggle-bar-height;
    }
    .mat-slide-toggle-thumb-container {
      top: 0;
    }
    .mat-slide-toggle-thumb {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
      background-color: $color-white!important;
      position: relative;
      &:before {
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: $color-emerald;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .mat-slide-toggle-ripple {
      display: none;
    }
    // .mat-slide-toggle-content {
    // }
  }
}