// *************************************
//
// Snackbar
//
// *************************************
@import './_variables';
.epos {
    &.mat-snack-bar-container {
      padding: 0!important;
      box-shadow: none;
      border-radius: 0;
      max-width: unset;
      min-width: unset;
      background: none;
      &:after {
        content: '';
        height: 30px;
        display: block;
        width: 1px;
        pointer-events: none;
      }
    }
}