// *************************************
//
// Table
//
// *************************************
@import './_variables';
.epos {
  table, thead, tbody, tr, th, td  {
    background-color: inherit;
  }
  table {
    font-family: $font-book;
    border-collapse:separate; 
    border-spacing: 0 10px;
    tbody {
      tr {
        background-color: $color-white;
      }
    }
    tr {
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
      transition-property: box-shadow;
      @include transition;
      z-index: 1;
      border: none;
      align-items: center;
      &.selected {
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        transition-property: box-shadow;
        @include transition;
      }
      th, td {
        padding-right: 24px; 
        text-align: left;
        &:first-child {
          padding-left: 20px; 
        }
      }
      th {
        font-family: $font-book;
        font-size: 12px;
        line-height: 1.2;
        color: $color-navy;
        white-space: normal;
        -webkit-tap-highlight-color: transparent;
        padding-top: 18px;
        padding-bottom: 10px;
        &:before {
          background-color: inherit;
          width: 100%;
          height: 10px;
          display: block;
          content: '';
          margin-top: -10px;
          top: 0;
          left: 0;
          margin-top: -10px;
          position: absolute;
        }
      }
      td {
        background-color: $color-white;
        font-size: 16px;
        line-height: 1.2;
        color: $color-navy;
        padding-top: 21px;
        padding-bottom: 20px;
        vertical-align: middle;
        .editable {
          border-bottom: 1px solid $color-emerald;
          pointer-events: auto;
          cursor: pointer;
        }
      }
      .mat-sort-header-button {
        text-align: left;
      }
      .mat-sort-header-arrow {
        opacity: 1!important;
        transform: translateY(0)!important;
        width: 14px;
        height: 14px;
        &:before {
          mask: url(./images/arrow_down.svg) no-repeat 50% 50%;
          mask-size: cover;
          content: '';
          display: block;
          background-color: $color-pale-blue-grey;
          width: 8px;
          min-width: 8px;
          height: 6px;
          min-height: 6px;
          transform-origin: 50% 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%) scaleY(1);
          transition-property: background-color;
          @include transition;
        }
        .mat-sort-header-stem, .mat-sort-header-indicator {
          display: none;
        }
      }
    }
    &.sort-directon-desc {
      .mat-sort-header-sorted {
        .mat-sort-header-arrow {
          &:before {
            background-color: $color-light-navy;
            transition-property: background-color;
            @include transition;
          }
        }
      }
    }
    &.sort-directon-asc {
      .mat-sort-header-sorted {
        .mat-sort-header-arrow {
          &:before {
            background-color: $color-light-navy;
            transform: translate(-50%,-50%) scaleY(-1);
            transition-property: background-color;
            @include transition;
          }
        }
      }
    }
  }
}