// *************************************
//
// TooltipPanel
//
// *************************************
@import './_variables';
.epos-tooltip {
    @include content;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
    $epos-tooltip-arrow-width: 22px;
    $epos-tooltip-arrow-height: 9px;
    $epos-tooltip-margin: 6px;
    .epos-tooltip-arrow {
      background-color: inherit;
      position: absolute;
    }
    .epos-clone-connectref {
      background-color: transparent;
      color: white;
      position: fixed;
    }
    &.vertical {
      margin-bottom: calc(#{$epos-tooltip-arrow-height} + #{$epos-tooltip-margin});
      .epos-tooltip-arrow {
        width: $epos-tooltip-arrow-width;
        height: $epos-tooltip-arrow-height;
        clip-path: polygon(0 0, 100% 0, 100% 1px, 50% 100%, 0 1px);
        bottom: 1px;
        left: 50%;
        transform: translate(calc(-#{$epos-tooltip-arrow-width}/2), 100%);
      }
      &.arrow-right {
        .epos-tooltip-arrow {
          left: unset;
          transform: translate(calc(#{$epos-tooltip-arrow-width}/2), 100%);
        }
      }
      &.arrow-left {
        .epos-tooltip-arrow {
          right: unset;
          transform: translate(calc(-#{$epos-tooltip-arrow-width}/2), 100%);
        }
      }
      &.arrow-top {
        margin-top: calc(#{$epos-tooltip-arrow-height} + #{$epos-tooltip-margin});
        .epos-tooltip-arrow {
          left: 50%;
          top: 1px;
          transform: translate(calc(-#{$epos-tooltip-arrow-width}/2), -100%) scaleY(-1);
        }
        &.arrow-right {
          .epos-tooltip-arrow {
            left: unset;
            transform: translate(calc(#{$epos-tooltip-arrow-width}/2), -100%) scaleY(-1);
          }
        }
        &.arrow-left {
          .epos-tooltip-arrow {
            right: unset;
            transform: translate(calc(-#{$epos-tooltip-arrow-width}/2), -100%) scaleY(-1);
          }
        }
      }
    }
    &.horizontal {
      margin-right: calc(#{$epos-tooltip-arrow-height} + #{$epos-tooltip-margin});
      .epos-tooltip-arrow {
        height: $epos-tooltip-arrow-width;
        width: $epos-tooltip-arrow-height;
        clip-path: polygon(0 0, 0 100%, 1px 100%, 100% 50%, 1px 0);

        right: 1px;
        top: 50%;
        transform: translate(100%, calc(-#{$epos-tooltip-arrow-width}/2));
      }
      &.arrow-bottom {
        .epos-tooltip-arrow {
          top: unset;
          transform: translate(100%, $epos-tooltip-arrow-width);
        }
      }
      &.arrow-top {
        .epos-tooltip-arrow {
          bottom: unset;
          transform: translate(100%, 0);
        }
      }
      &.arrow-left {
        margin-left: calc(#{$epos-tooltip-arrow-height} + #{$epos-tooltip-margin});
        .epos-tooltip-arrow {
          left: 1px;
          top: 50%;
          transform: translate(-100%, calc(-#{$epos-tooltip-arrow-width}/2)) scaleX(-1);
        }
        &.arrow-bottom {
          .epos-tooltip-arrow {
            top: unset;
            transform: translate(-100%, $epos-tooltip-arrow-width) scaleX(-1);
          }
        }
        &.arrow-top {
          .epos-tooltip-arrow {
            bottom: unset;
            transform: translate(-100%, 0) scaleX(-1);
          }
        }
      }

      // // &:after {
      // //   position: absolute;
      // //   display: block;
      // //   height: $epos-tooltip-arrow-width;
      // //   width: $epos-tooltip-arrow-height;
      // //   background-color: inherit;
      // //   right: 1px;
      // //   top: 50%;
      // //   transform: translate(100%, -50%);
      // //   content: "";
      // //   clip-path: polygon(0 0, 0 100%, 1px 100%, 100% 50%, 1px 0);
      // // }
      // &.arrow-bottom {
      //   // margin-right: -$epos-tooltip-arrow-width;
      //   // &:after {
      //   //   top: unset;
      //   //   bottom: calc( #{$epos-tooltip-arrow-width} / 2 );
      //   //   transform: translate(100%, 0);
      //   // }
      // }
      // &.arrow-top {
      //   // margin-left: -$epos-tooltip-arrow-width;
      //   // &:after {
      //   //   top: calc( #{$epos-tooltip-arrow-width} / 2 );
      //   //   bottom: unset;
      //   //   transform: translate(100%, 0);
      //   // }
      // }
    }
  }
  
  .epos-tooltip-emerald, .background-color-emerald {
    background-color: $color-emerald!important;
    color: $color-white!important;
  }
  .epos-tooltip-light-navy, .background-color-light-navy {
    background-color: $color-light-navy!important;
    color: $color-white!important;
  }
  .epos-tooltip-white, .background-color-white {
    background-color: $color-white!important;
    color: $color-light-navy!important;
  }