// *************************************
//
// TYPOGRAPHY
//
// *************************************
@import './_variables';
.epos {
    @include content;
    color: $color-light-navy;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    .bold, b {
      @include bold;
    }
    .italic, i {
      @include italic;
    }
    .h1, h1 {
      font-family: $font-book;
      font-size: 30px;
      line-height: 1.33;
      padding-left: calc(8px + 22px);
      margin: 0;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 40px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: $color-light-green;
      }
    }
    .h2, h2 {
      font-family: $font-book;
      font-size: 30px;
      line-height: 1.33;
      margin: 0;
    }
    .h3, h3 {
      font-family: $font-book;
      font-size: 20px;
      line-height: 1.33;
      margin: 0;
    }
    .h4, h4 {
      font-family: $font-book;
      font-size: 16px;
      line-height: 1.33;
      margin: 0;
    }
    .h5, h5 {
      font-family: $font-book;
      font-size: 12px;
      line-height: 1.33;
      margin: 0;
    }
    .h6, h6 {
      font-family: $font-book;
      font-size: 10px;
      margin: 0;
    }
    p {
      margin: 0 0 16px;
    }
    .font-light {
      color: $color-dark-grey;
    }
}